<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1ERS</display-name>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.revature.servlets.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReimbursementListController</display-name>
    <servlet-name>EmployeeReimbursementListController</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeReimbursementListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimbursementListController</servlet-name>
    <url-pattern>/reimbursementList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyReimbursement</display-name>
    <servlet-name>ApplyReimbursement</servlet-name>
    <servlet-class>com.revature.servlets.ApplyReimbursementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyReimbursement</servlet-name>
    <url-pattern>/apply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinanceManagerController</display-name>
    <servlet-name>FinanceManagerController</servlet-name>
    <servlet-class>com.revature.servlets.FinanceManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinanceManagerController</servlet-name>
    <url-pattern>/financeManager</url-pattern>
  </servlet-mapping>
</web-app>